<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.btl1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingPrefix">
        <activity android:name=".OrderList" />
        <activity android:name=".viewOrder" />
        <activity android:name=".update_food" />
        <activity android:name=".AddFood" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".Home" />
        <activity android:name=".FoodList" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".Help" />
        <activity android:name=".ChangeAnouncement" />
        <activity android:name=".Setting" />
        <activity android:name=".menu_list" />
        <activity android:name=".Order" />
        <activity android:name=".UpdateMenu" />
        <activity android:name="Model.cook" />
        <activity android:name=".rate" />
        <activity android:name=".OrderMenu" />
        <activity android:name=".AnnouncementMenu" />
        <activity android:name=".accountInfo" />
        <activity android:name=".signUp" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>